# Byte-compiled / optimized / DLL files
*.pyc
__pycache__/

# Distribution / packaging
dist/
Youtube_Comment_Export.egg-info/
publish.py

# Configuration de pyinstaller
config pyinstaller.json

# Others
launch.py
test.py
.venv